body{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: url(fon.jpg) ;
}
h1{
    text-align: center;
    color: white;}
p{
    font-size: x-large;
}
li{
    font-size: x-large;
}
.content{
    font-size: x-large;
    color:white;
    }
    pre{
        font-size: xx-large;
    }
